.header {
  position: absolute;
  bottom: -80px;
  z-index: 100;
  background-color: var(--light-color);
  width: 100%;
  height: 65px;
  border-bottom:  1px solid rgb(230, 230, 230);
  &__container {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.nav {
  &__list {
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    gap: 47px;
  }
  &__link {
    color: var(--second-color);
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--main-color);
    }
  }
}
