.some {
  padding-top: 235px;
  padding-bottom: 232px;

  background: url('../img/bg2.jpeg') center center/cover no-repeat;
  &__container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    color: rgb(72, 85, 91);
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
  }
}
