<footer class="footer">
  <div class="footer__wrapper">
    <div class="container">
      <div class="footer__top flex">
        <h3 class="footer__title">
          Newsletter Signup
        </h3>
        <div class="footer__form flex">
          <div class="footer__mail flex">
            test@youremail.com
          </div>
          <div class="btn footer__btn">
            SIGNUP
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__wrapper2">
    <div class="container grid">
      <div class="container footer__gs-4 pr-50">
        <div class="footer__left flex">
          <h3 class="footer__title">
            COMPANY
          </h3>
          <img src="img/logo.png" alt="logo" class="logo footer__logo">
          <div class="footer__text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat.
          </div>
        </div>
      </div>
      <div class="container footer__center flex footer__gs-4 pr-40">
        <div class="footer__col flex">
          <a href="#" class="footer__links">
            LINKS
          </a>
          <a href="#" class="footer__links">
            HOME
          </a>
          <a href="#" class="footer__links">
            ABOUT
          </a>
          <a href="#" class="footer__links">
            SERVICES
          </a>
          <a href="#" class="footer__links">
            PROJECTS
          </a>
          <a href="#" class="footer__links">
            CONTACT US
          </a>
        </div>
        <div class="footer__col flex">
          <a href="#" class="footer__links">
            FAQ
          </a>
          <a href="#" class="footer__links">
            TERMS
          </a>
          <a href="#" class="footer__links">
            CAREERS
          </a>

        </div>
        <div class="footer__col flex">
          <a href="#" class="footer__links">
            BLOG
          </a>
          <a href="#" class="footer__links">
            PARTNERS
          </a>
          <a href="#" class="footer__links pl20">
            NEWS
          </a>
        </div>
      </div>
      <div class="container footer__gs-2">
        <div class="footer__2span">
          <a href="#" class="footer__link">
            CONTACT US <br>
          </a>
          <a href="#" class="footer__link">
            213 Baker Street Oriel City Kounty 7000 KNW,Kountry Name
          </a>
          <a href="#" class="footer__link">
            +23 994 233 4022
          </a>
          <a href="#" class="footer__link">
            info@konstruct.com
          </a>
        </div>
      </div>
      <div class="container footer__gs-2 pt">
        <div class="footer__img-w flex">
          <img src="img/icons/f.png" alt="icons" class="footer__img">
          <img src="img/icons/t.png" alt="icons" class="footer__img">
          <img src="img/icons/g.png" alt="icons" class="footer__img">
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bot">
    <div class="container flex footer__cr">
      <div class="footer__bot-center">
        <div class="footer__data">
          © 2017 Konstruct Inc. Designed by Jane Kathryn Teo
        </div>
      </div>
    </div>
  </div>
</footer>
