<header class="header">
  <div class="container header__container">
    <ul class="list-reset nav__list flex">
      <li class="nav__item">
        <img src="img/logoblack.png" alt="logo" class="nav__logo">
      </li>

      <li class="nav__item flex nav__links">
        <a href="#" class="nav__link">
          HOME
        </a>
        <a href="#" class="nav__link">
          ABOUT
        </a>
        <a href="#" class="nav__link">
          SERVICES
        </a>
        <a href="#" class="nav__link">
          WORK
        </a>
        <a href="#" class="nav__link">
          CONTACT
        </a>
      </li>
    </ul>
  </div>
</header>
